html, body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 100%;
  width: 700px;
  margin: 0 auto;
}

.notice {
  background: #E91E63;
  color: #fff;
  font-size: 13px;
  line-height: 170%;
  padding: 10px 15px 13px;
}

.nav {
  border-bottom: 1px solid #F5F5F5;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  .logo {
    padding: 20px 0;
    display: block;
    font-weight: 600;
    font-size: 32px;
    color: #000;
    text-decoration: none;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 10px 0;

    li {
      display: block;
      margin: 0;

      a {
        font-size: 14px;
        display: block;
        color: #000;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

        img {
          width: 16px;
          height: 16px;
          margin-right: 5px;
          vertical-align: middle;
        }
      }
    }
  }
}

.content {
  padding: 20px 15px;
}