.home {
  h2 {
    margin-bottom: 10px;

    small {
      font-size: .5em;

      a {
        color: #3F51B5;
      }
    }
  }

  .list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    line-height: 150%;

    &-header {
      display: flex;
      justify-content: space-between;
      color: #000;
      background: #FAFAFA;
      padding: 3px 7px;
      margin: 0 0 7px;
      transition: background 100ms ease-in;

      .title {
        font-weight: bold;
      }

      .timeline {
        font-size: 0.9em;
        text-align: right;
      }
    }

    & > li {
      margin: 0;
      cursor: pointer;
      background: #fff;

      &:hover {
        .list-header {
          background: #F5F5F5;
        }
      }

      p {
        margin: 0;
        padding: 0 7px;
      }
    }
  }

  .companies {
    margin: 0;
    padding: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #212121;
    border: 1px solid #fff;
    outline: 1px solid #212121;

    li {
      padding: 15px;
    }

    img {
      max-height: 32px;
      filter: grayscale(100%);
      cursor: pointer;

      &:hover {
        filter: grayscale(0%);
      }
    }
  }

  ul.tags {
    display: block;
    margin: 0;
    padding: 7px;
    list-style: none;

    li {
      display: inline-block;
      padding: 2px 5px;
      margin: 0 5px 5px 0;
      font-size: 0.9em;
      font-weight: bold;
    }
  }

  &-introduction {
    p {
      line-height: 175%;
      max-width: 500px;
      width: 100%;
      margin: 0 auto;
      font-size: 16px;
      text-align: center;

      span {
        display: inline;
        padding: 2px 5px;
        font-size: 0.9em;
        font-weight: bold;
      }
    }
  }
}