.react {
  background: #E8EAF6;
  color: #5C6BC0;
}

.ruby {
  background: #FFEBEE;
  color: #EF5350;
}

.node {
  background: #E8F5E9;
  color: #66BB6A;
}

.php {
  background: #E3F2FD;
  color: #42A5F5;
}

.html {
  background: #fdeee7;
  color: #F06529;
}

.mongodb {
  background: #f0f9ec;
  color: #7fc857;
}

.csharp {
  background: #f1ebfa;
  color: #9b68da;
}

.python {
  background: #fff9e5;
  color: #ffd343;
}